.register_container {
	width: 100vw;
	height: 100vh;
	background: linear-gradient(
			rgba(255, 255, 255, 0.5),
			rgba(255, 255, 255, 0.5)
		),
		url("../Images/registerBackground.jpeg") center;
	background-size: cover;
	display: flex;
	align-items: center;
	justify-content: center;
}

.register_fail {
	color: red;
}

.register_wrapper {
	width: 40%;
	padding: 20px;
	background-color: white;
}

.register_title {
	font-size: 24px;
	font-weight: 300;
}

.register_form {
	display: flex;
	flex-wrap: wrap;
}

.register_input {
	flex: 1;
	min-width: 40%;
	margin: 20px 10px 0px 0px;
	padding: 10px;
}

.register_agreement {
	font-size: 12px;
	margin: 20px 0px;
}

.register_button {
	width: 40%;
	border: none;
	padding: 15px 20px;
	background-color: teal;
	color: white;
	cursor: pointer;
}

.register_link {
	margin: 12px 0px;
	font-size: 12px;
	text-decoration: underline;
	cursor: pointer;
}

@media screen and (max-width: 380px) {
	.register_wrapper {
		width: 75%;
	}
}
